<h1>Movies</h1>

<% @movies.each do |movie| %>
  <div class="index_movie_box">
    <div class="index_movie_poster">
      <%= image_tag movie.poster.url %>
    </div>
    <div class="index_movie_name">
      <%= link_to movie.name, movie %>
    </div>
    <div class="index_movie_preview">
      <%= movie.preview %>
    </div>
    Votes: <%= movie.voters.count %>
    <div class="index_movie_update_links">
      <% if movie.user == current_user && current_user != nil %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
      <% end %>
      <% if movie.user == current_user && current_user != nil || admin_user %>
        <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
   </div>
  </div>
<% end %>

<br>

<% if signed_in? %>
<%= link_to 'New Movie', new_movie_path %>
<% end %>
